.wrap {
    display: flex;
    margin-top: 10px;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    opacity: 0.6;
}

.icon_about {
    float: right;
    cursor: pointer;
}

.icon_about:hover {
    opacity: 0.6;
}