.wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.title_div {
    background-color: #1B1C1D;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 10px 15px 3px 10px !important;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.title_div a {
    text-decoration: none !important;
    color: #FFF !important;
}

.title_icon_link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title_icon {
    display: inline-block !important;
    font-size: 50px !important;
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
}

.title_text_link {
    vertical-align: middle !important;
}

.button {
    height: 50px;
}